Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -performance-enum-size
FormatStyle: file
HeaderFilterRegex: 'kernel[\\/](include|src)[\\/]'
